body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  #app > div {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00acc1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #00acc1;
}
/* scrollbar */

button {
  span {
    text-transform: none;
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

*, body, dl, fieldset, figure, form, menu, ol, pre, ul {
  margin: 0;
}

* {
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

li.sort-li.sortableHelper {
  z-index: 9999 !important;
  list-style-type: none;
  color: inherit !important;

  label {
    margin: 0;
    padding: 0;

    & > span {
      padding: 6px;

      &.checkbox-root,
      &.checkbox-checked {
        color: gray;
      }
    }
  }
}

.main-content {
  .Loading .wrapper {
    background-color: transparent;
  }
}

.Loading.notTransparent .wrapper {
  background-color: white !important;
}

.dflex {
  display: flex;
}

.w50 {
  width: 50%;
}

.w30 {
  width: 30%;
}

.flexwrap {
  flex-wrap: wrap;
  justify-content: space-between;
}

.Loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
  display: none;

  &.show {
    display: block;
  }

  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.2);

    span {
      margin: auto;
      color: #00acc1;
    }
  }
}

ul[role="menu"] {
  padding-top: 0;
  padding-bottom: 0;
}

#toast-container {
  .toast-title {
    font-size: 1em;
  }

  .toast-message {
    font-size: 0.9em;
  }
}

.gm-style-cc > div > div:last-child
{
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.gm-style-cc > div:last-child > a,
.gm-style-cc > div:last-child > span {
  color: white !important;
}

.checkbox-gray {
  .checkbox-root,
  .checkbox-checked {
    color: gray !important;
  }
}

.gm-style-iw.gm-style-iw-c {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: unset !important;

  button[aria-label="Close"] {
    display: none !important;
  }
}
.gm-style-iw-d {
  overflow: hidden !important;
  padding: 0 8px 0 0;
}

.gm-style .gm-style-iw-t::after {
  transform: translate(-50%,-50%) rotate(-135deg);
  box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.1);
  background: unset;
  border-top: 0 solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgba(0, 0, 0, 0.6);
}

.infoBox {
  min-width: 260px;
  div {
    margin-bottom: 4px;
    font-size: 14px;
    i {
      font-size: 12px;
    }
    &.button-action {
      position: absolute;
      color: #ffffff91;
      top: 3px;
      right: 3px;
      i {
        cursor: pointer;
        &:first-child {
          margin-right: 5px;
        }
        &:hover {
          color: #ffffffcf
        }
      }
    }
    &.id-device{
      padding-bottom: 4px;
      &.borderBox {
        border-bottom: 1px solid #ffffff6b;
      }
    }
    &.name-device {
      font-weight: 500;
      font-size: 16px;
    }
    &.class-footer {
      i:last-child {
        float: right;
      }
    }
  }
}

i {
  span.set-font {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
}

.css-1pcexqc-container {
  z-index: 1300 !important;
}

input[type="datetime-local"]::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}

.inFlex {
  display: inline-flex;
}

.inFlex-grid {
  display: inline-grid;
  p {
    margin-bottom: 0 !important;
    &:nth-child(2) {
      font-weight: 600;
      font-size: 13px;
    }
  }
}
